.adicionar__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}


.adicionar__etq {
  color: var(--cor-principal);
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.adicionar__ipt {
  border-radius: .5rem;
  border: .2rem solid var(--cor-principal);
  box-shadow: 0 .3rem .2rem 0 var(--sombra-25);
  padding: .75rem;
  font-size: 2rem;
}

.adicionar__btn {
  border-radius: .25rem;
  background: #127003;
  box-shadow: 0 .25rem .25rem 0 var(--sombra-25);
  padding: .75rem 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--branco);
  border: 0;
  cursor: pointer;
}

.adicionar__btn:hover {
  background: #0b4402;
}